{% extends 'base.html.twig' %}

{% block title %}FDEV{% endblock %}

{% block body %}
    <div class="container">

        <div class="resultsreach">
            <h1></h1>
            <div class="product">
                <h5></h5>
                <h6></h6>
                <p></p>
                <a href=""></a>
            </div>

        </div>
        <h2 class="productOfTheDay">Produit du jour</h2>
        <div class="rand-product">
            {% for productsRands in productsRand %}
                <h3>{{ productsRands.name }}</h3>
                <p>{{ productsRands.description }}</p>

                {% for productsCarac in productsRands.characteristicProducts %}
                    {{ productsCarac.price }}
                {% endfor %}

                {% for categsProduct in productsRands.categories %}
                    <span>{{ categsProduct.name }}</span>
                {% endfor %}

            {% endfor %}
        </div>
        <div class="newProduct">
            <h2>Nouveaux produit</h2>
            <div class="lastest">
                {% for lastProducts in product %}
                    <div class="product">
                        <h3>{{ lastProducts.name }}</h3>
                        {% for productsCarac in lastProducts.characteristicProducts %}
                             <span>{{ productsCarac.price }}</span>
                        {% endfor %}

                        <a href="{{ path('oneProduct', {'id' : lastProducts.id }) }}" >En s'avoir plus</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
