{% block body %}
    <div class="top-nav">
        <div class="adress">
            <a href="tel:+33102030405"><i class="fa-solid fa-phone"></i> 08 855 847 520</a>
            <a href="mailto:xxxx@xx.xx"><i class="fa-regular fa-envelope"></i> contact@fdev.com </a>
            <a href="https://www.google.com/maps/place/Paris/@48.85877,2.2069522,11z/data=!3m1!4b1!4m6!3m5!1s0x47e66e1f06e2b70f:0x40b82c3688c9460!8m2!3d48.856614!4d2.3522219!16zL20vMDVxdGo"><i class="fa-solid fa-location-dot"></i> Paris 75 </a>
        </div>
        <div class="account">
            <a href="{{ path('app_login') }}"><i class="fa-solid fa-key"></i> Login </a>
            <span>/</span>
            <a href="{{ path('app_register') }}"><i class="fa-solid fa-user-lock"></i> S'enregistrer </a>

        </div>
    </div>
    <div class="search-bar">
        <div class="middle">
            <div class="title">
                <h1>FDEV<span>.</span></h1>
            </div>
            {% if app.request.attributes.get('_route') == 'app_home' %}
                <div class="searchBar">
                    <select name="pets" id="categ-select">
                      <option value="">Toutes les catégories</option>
                      {% for categ in categs %}
                        <option value="{{ categ.id }}">{{ categ.name }}</option>
                      {% endfor %}
                    </select>

                    <form class="example" method="post">
                        <input type="text" placeholder="Search.." name="search" class="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="panier">
                    <a href="https://127.0.0.1:8000/cart"><i class="fa-sharp fa-solid fa-cart-shopping"></i> </a>
                </div>
            {% else %}
            {% endif %}


        </div>
    </div>
    <nav class="stroke">
        <ul>
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><a href="{{ path('allProduct') }}">Tous les produits</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('app_admin') }}">Admin</a></li>
            {% else %}

            {% endif %}

        </ul>

    </nav>
{% endblock %}